.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  color: #ffffff;
  max-width: 360px;
  text-align: center;
  margin: 32px auto;
  margin-bottom: 0;
  align-self: center;
  /* z-index: 2; */
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto;
  }
}
