.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin-bottom: 25px;
 margin-top: 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
  }
}
