.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 48px;
    line-height: 14px;
    margin-left: 16px;
  }
}


 @media screen and (max-width: 767px) {
  .footer__copyright {
    align-self: flex-start;
    margin-top: 48px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
 }
