.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding: 92px 48px 0;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
