.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(460px, 1fr);
  gap: 48px 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraphs";
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 984px;
    grid-template-columns: minmax(440px, 1fr);
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    grid-template-columns: minmax(340px, 1fr);
    margin-bottom: 73px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 320px;
    margin-bottom: 50px;
    gap: 32px 0;

    grid-template-columns: minmax(300px, 1fr);
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__paragraphs";
  }
}
