.footer {
  padding-top: 92px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 186px;
    display: flex;
    flex-direction: column;
    padding-top: 64px;
  }
}
